@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
}

.bg-custom-blue {
  background-color: #f0f8ff;
}

.border-custom-blue {
  border-color: #089bfe;
}

.text-custom-blue {
  color: #089bfe;
}

.text-color-grey {
  color: #677294;
}

.text-color-black {
  color: #1c3c50;
}

.text-gradient-title {
  background: #2c83fb;
  background: linear-gradient(to right, #2c83fb -45%, #1f76f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social__container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ebeef5;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.social__container:hover {
  background-color: #0dcaf0;
}

.social__container:hover .svg-social {
  color: white;
}

.svg-social {
  width: 15px;
  height: 15px;
  color: #677294;
  transition: all 0.3s ease-in-out;
}

.bg__shape{
  position: absolute;
  top: 130px;
  left: -140px;
  background-color: #e1f3fe;
  height: 1000px;
  width: 870px;
  transform: rotate(-43deg);
  border-radius: 80px;
  z-index: 0;
}

.btn-demo{
  background-color: #0183ff;
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 15px;
  height: 55px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  margin-right: 1rem;
}

/* class hero section */
.hero {
  @apply flex flex-col w-screen max-h-max;
}

.logo {
  @apply h-auto w-[140px] md:w-[150px] lg:w-[200px];
}

.hero__top {
  @apply flex items-center justify-center;
}

.hero__bottom {
  @apply flex flex-col items-center justify-center h-60 md:h-72 lg:h-96 bg-custom-blue px-4 text-center;
}

.bubble {
  @apply text-[11px] md:text-[12px] lg:text-[15px]  uppercase font-extrabold py-1 px-4 border-2 rounded-t-2xl rounded-br-2xl;
}

.hero__sub-title {
  @apply text-[27px] md:text-[30px] lg:text-[40px] leading-none font-medium capitalize text-teal-900 mt-2 md:mt-4 lg:mt-6 overflow-hidden;
}

.hero__title {
  @apply relative w-max h-max p-0;
}

.title {
  @apply text-[40px] md:text-[60px] lg:text-[80px] font-extrabold px-4;
}

.hero__asset {
  @apply absolute top-3 md:top-5 right-3 lg:right-1 h-auto w-[15px] md:w-[20px] lg:w-[32px];
}

.line {
  @apply h-[1px] max-w-full border-[1px] border-gray-300;
}

.hero__cto {
  @apply text-[15px] md:text-[20px] lg:text-[22px] font-medium text-center mt-2 md:mt-4 lg:mt-6 text-color-grey;
}

.hero__bold {
  @apply font-bold;
}
/* class hero section */

/* reviews section */


.Reviews {
  @apply flex flex-col lg:flex-row md:flex-row  items-center justify-center h-[600px] md:h-[600px] lg:h-96 bg-custom-blue text-center;
}

.image__container{
  @apply relative xl:w-full md:w-[100%]  w-[100%] xl:h-full h-full z-10;  
}

.sides{
  @apply flex flex-col items-center justify-center flex-1 w-full h-full relative overflow-hidden ;
}

.Review__right-top{
  @apply flex flex-col items-center md:items-start lg:items-start w-[100%] justify-center ;
}

.Review__sub-title{
  @apply text-[20px] md:text-[25px] lg:text-[30px] font-medium  leading-8 overflow-hidden text-center text-color-black;
  
}

.Review__title{
  @apply text-[20px] md:text-[25px] lg:text-[30px] font-bold leading-10 overflow-hidden text-center text-color-black;
  
}
.Review__text-title{
  @apply text-[10px] md:text-[15px] lg:text-[20px] font-normal leading-8 overflow-hidden text-center text-color-black;
}

.Review__line{
  @apply h-[1px] w-[70%] border-[1px] border-gray-300 mt-4 mb-2;
}

.Review__right-mid{
  @apply flex flex-row min-h-[55px] w-[100%] items-center justify-center md:justify-start lg:justify-start mb-2;
}

.top10__container{
  @apply relative w-[150px] h-full md:w-[150px] sm:w-[150px] ;
}

.Review__right-bottom{
  @apply flex flex-col  md:flex-row lg:flex-row xl:flex-row w-[100%] items-center justify-center md:justify-start lg:justify-start;
}
.Review__bottom-container{
  @apply flex flex-row flex-wrap h-[25px] sm:h-[60px] items-center;
} 

.nocard__container{
  @apply relative h-[20px] w-[20px] mr-2;

}

.rating__container{
  @apply relative h-[20px] w-[100px] mr-2;
}


/* reviews section */

/* class footer section */
.Footer {
  @apply flex flex-col items-center justify-center w-screen max-h-max bg-white;
}

.Footer__header {
  @apply flex flex-col items-center justify-center mt-6 md:mt-16 lg:mt-20;
}

.Title__text {
  @apply text-[18px] md:text-[14px] lg:text-[18px] font-medium text-center text-color-grey;
}

.Footer__body {
  @apply flex  flex-row w-3/4 flex-wrap items-center justify-between mt-10 gap-6 md:gap-8 lg:gap-10;
}

.Footer__collum {
  @apply flex flex-col items-start min-h-[160px] md:min-h-[250px];
}

.Footer__title-container {
  @apply mb-4 md:mb-6 lg:mb-8;
}

.Footer__title {
  @apply text-[16px] md:text-[16px] lg:text-[20px] font-bold text-center text-black;
}

.Footer__links {
  @apply flex flex-col items-start justify-start gap-4 lg:gap-6;
}

.Footer__text {
  @apply text-[16px] md:text-[15px] lg:text-[16px] font-medium text-center text-color-grey;
}

.Footer__socials {
  @apply flex flex-row items-start justify-start w-full gap-2;
}

.Footer__contact-info {
  @apply flex flex-col;
}

.contact__label {
  @apply flex flex-row gap-4 font-normal;
}

.Footer__line {
  @apply h-[1px] w-screen border-[1px] border-gray-300 mt-10 mb-8;
}

.Footer__copyrights {
  @apply flex flex-row items-start justify-between w-3/4 mb-8 flex-wrap gap-5;
}
/* class footer section */
